@import "_variables";

html {
  font-size: 100%;
  box-sizing: border-box;
  text-align: center;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: $montserrat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  font-family: $montserrat;
}

a {
  text-decoration: none;
  font-family: $montserrat;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}
