// Colors

$mainpink: #ff4c68;
$dark-pink: #ef8172;

// Fonts

$ubuntu: "Ubuntu", sans-serif;
$montserrat: "Montserrat", sans-serif;

//font vary
$black: 900;
$bold: 700;
$medium: 500;
$regular: 400;
